/* Asterisk overrides default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
}

/*header*/
header {
    background-color: lightcoral;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background-color: url(../images/hero-image.webp) no-repeat center center/cover;
}

/* Main Content */
main {
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* footer */
footer {
    background-color: orange;
}