/* Asterisk overrides default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*header*/
header {
    background-color: lightcoral;
}

/* Main Content */
main {
    background-color: lightblue;
}

/* footer */
footer {
    background-color: orange;
}